<%= form_with(url: '/charge', local: true, data: { stripe_key: Rails.configuration.stripe[:publishable_key] }) do |form| %>
  <label class="amount">
      <span>Amount: €10.00</span>
  </label>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount="1000"
    data-currency="eur">
  </script>
<% end %>
