<footer id="sticky-footer" style="background-color: #ECEFF1" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Oskars BrauÄs", "https://github.com/brauchulaitis/photo-app", class: "text-white"  %></small>
  </div>
</footer>

